.contact-form {
  padding: 60px 0;
}

h1 {
  margin-bottom: 40px;
}

label {
  font-weight: 500;
}

.ng-invalid:not(form) {
  border: 2px solid #ff0039;
}

.text-button {
  border: 0px;
  background-color: transparent;
  text-decoration: none;
}

.form-heading {
  display: flex;
  align-items: center;
}
