<div class="customer-form container">
  <div class="form-heading">
    <h1 class="mx-3">Customer Details</h1>
    <button
      [routerLink]="['/address']"
      routerLinkActive="router-link-active"
      class="text-button">
      Address Form
    </button>
  </div>

  <form
    class="col-sm-5"
    [formGroup]="form"
    #customerForm="ngForm"
    (ngSubmit)="displayCustomerDetails()">
    <div class="form-group">
      <label for="title">Title</label>
      <select class="form-control" id="title" formControlName="title">
        <option *ngFor="let title of titles" [value]="title">{{title}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="firstName">First name <b class="text-danger">*</b></label>
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        id="firstName"
        autocapitalize="off"
        autocomplete="false"
        [ngClass]="{
          'input-invalid':
            firstName.touched && firstName.invalid && firstName.errors.required
        }"
      />

      <div *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
        <span class="text-danger">First name is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="middleName">Middle name(s)</label>
      <input
        type="text"
        class="form-control"
        formControlName="middleName"
        id="middleName"
        autocapitalize="off"
        autocomplete="false"
      />
    </div>

    <div class="form-group">
      <label for="lastName">Surname <b class="text-danger">*</b></label>
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        id="lastName"
        autocapitalize="off"
        autocomplete="false"
        [ngClass]="{
          'input-invalid':
            lastName.touched && lastName.invalid && lastName.errors.required
        }"
      />

      <div *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
        <span class="text-danger">Surname is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="idNumber">ID Number <b class="text-danger">*</b></label>
      <input
        type="text"
        class="form-control"
        formControlName="idNumber"
        id="idNumber"
        autocapitalize="off"
        appIdentificationNumber
        autocomplete="false"
        [ngClass]="{
          'input-invalid':
            idNumber.touched && idNumber.invalid && idNumber.errors.required
        }"
      />

      <div *ngIf="idNumber.touched && idNumber.invalid">
        <span *ngIf="idNumber.errors.required" class="text-danger">
          Identification number is required.
        </span>
        <span *ngIf="idNumber.errors.zaIDNumber" class="text-danger">
          Invalid ID number. Must be a South African ID number!<br />
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="nationality">Nationality</label>
      <input
        type="text"
        class="form-control"
        formControlName="nationality"
        id="nationality"
        autocapitalize="off"
        autocomplete="false"
      />
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" formControlName="gender" id="gender">
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number <b class="text-danger">*</b></label>
      <input
        type="text"
        class="form-control"
        formControlName="phoneNumber"
        appPhoneNumber
        id="phoneNumber"
        [ngClass]="{
          'input-invalid':
            phoneNumber.touched &&
            phoneNumber.invalid &&
            phoneNumber.errors.required
        }"
      />

      <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
        <span *ngIf="phoneNumber.errors.required" class="text-danger">
          Phone number is required.
        </span>
        <span *ngIf="phoneNumber.errors.zaPhoneNumber" class="text-danger">
          Invalid phone number. Must be a South African number!<br
        /></span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email <b class="text-danger">*</b></label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        [ngClass]="{
          'input-invalid':
            email.touched && email.invalid
        }"
      />

      <div *ngIf="email.touched && email.invalid">
        <span *ngIf="email.errors.email" class="text-danger">
          A valid Email Address is required.
        </span>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="!customerForm.valid"
      class="btn btn-primary my-2">
      Submit
    </button>
  </form>
</div>
