<div class="customer-form container">
  <h1 class="mx-3">Customer Details</h1>

  <form class="col-sm-5" [formGroup]="form" (ngSubmit)="displayCustomerDetails()">

    <div class="form-group">
      <label for="title">Title</label>
      <select class="form-control" id="title" formControlName="title">
        <option *ngFor="let title of titles" [value]="title">{{title}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="firstName">First name <b class="text-danger">*</b></label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" autocapitalize="off" autocomplete="false">

      <div *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
        <span class="text-danger">First name is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="middleName">Middle names</label>
      <input type="text" class="form-control" formControlName="middleName" id="middleName" autocapitalize="off" autocomplete="false">
    </div>

    <div class="form-group">
      <label for="lastName">Surname <b class="text-danger">*</b></label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" autocapitalize="off" autocomplete="false">

      <div *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
        <span class="text-danger">Surname is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="idNumber">ID Number <b class="text-danger">*</b></label>
      <input type="text" class="form-control" formControlName="idNumber" id="idNumber" autocapitalize="off" autocomplete="false">

      <div *ngIf="idNumber.touched && idNumber.invalid && idNumber.errors.required">
        <span class="text-danger">A valid ID number is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="nationality">Nationality <b class="text-danger">*</b></label>
      <input type="text" class="form-control" formControlName="nationality" id="nationality" autocapitalize="off" autocomplete="false">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" formControlName="gender" id="gender">
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number <b class="text-danger">*</b> <sub>(Phone number should start with +27)</sub></label>
      <input type="text" class="form-control" formControlName="phoneNumber" appLocalPhoneNumber id="phoneNumber">

      <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
        <span *ngIf="phoneNumber.errors.required" class="text-danger">Phone number is required.</span>
        <span *ngIf="phoneNumber.errors.localPhoneNumber" class="text-danger">Locale code invalid.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">

      <div *ngIf="email.touched && email.invalid">
        <span *ngIf="email.errors.email" class="text-danger">Email address is invalid.</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary my-2">Submit</button>

  </form>
</div>
